@import "../../scss/mixins";

:host() {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

footer {
  padding: 5px 0;
  background-color: #fff;
}

.social-media-wrapper {
  display: inline-block;
  a.underlined {
    margin-bottom: -4px;
  }
  i {
    @include fontshape();
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
  }
  span {
    font-family: Caveat;
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 100;
    @include transition();
  }
  &:hover {
    i {
      color: transparent;
    }
    span {
      max-width: 1000px;
      overflow: hidden;
      white-space: nowrap;
      @include transition(1s);
    }
  }
}

footer.about-page {
  background-color: transparent;

  .social-media-wrapper {
    span,
    i {
      color: white;
    }
  }
}

