@import '../../scss/mixins';

article {
  @include transition(0.5s);
}

nav.page-nav {
  margin: 0;
  margin-bottom: 30px;
  padding: 30px;
  transition: margin 1s ease;
  position: relative;
  z-index: 10;
  display: table;
  @include transition(0.3s);

  .nav-element {
    display: table-cell;
    h2 {
      overflow: hidden;
      font-weight: bold;
      font-size: 60px;
      margin: 0;
      margin-right: 40px;
      padding: 0;
      cursor: pointer;
      font-family: Caveat;
      user-select: none;
      span {
        @include fontshape();
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        padding: 5px;
        transition: color 0.6s ease-in-out;
        font-weight: 100;
        &:after {
          content: "";
          display: block;
          width: 100%;
          max-width: 0;
          position: absolute;
          bottom: 8%;
          left: 0;
          height: 5%;
          background: $theme_gradient;
          border: 3px solid $theme_gradient;
          border-radius: 50% 50% 30% 30%;
          transform: rotate(-4deg);
        }
      }
    }
    &.active
    h2 {
      span {
        color: transparent;
        &:after {
          max-width: 100%;
          transition-delay: 0.6s;
          transition: all 0.6s ease;
        }
      }
    }
  }
}

.about-page {
  nav.page-nav {
    background: rgba(0, 0, 0, 0.3);
    .nav-element {
      h2 {
        span {
          @include fontshape(white);
          &:after {
            background: transparent;
            border: 3px solid transparent;
          }
        }
      }
      &.active
      h2 {
        span {
          color: transparent;
          &:after {
            border: 3px solid white;
          }
        }
      }
    }
  }
}

:host() {
  display: none;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  nav.page-nav {
    margin-bottom: 0;
  }
}

