h1 {
  margin-bottom: 30px;
}

p {
  text-align: justify;
  margin-bottom: 15px;
  font-size: 16px;
}

img.me {
  float: right;
  width: 50%;

  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  shape-outside: polygon(110px 0px, 570px 0px, 570px 571px, 0px 571px);
}

img.about-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1) opacity(1);
}

.about-text {
  margin-top: 50px;
  color: white;
  padding: 50px 30px;
  background: rgba(0, 0, 0, 0.7);
}

:host() {
  display: none;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .about-text {
    margin-top: 0px;
  }
}
