<div class="row">
  <img class="about-background" [src]="backgroundImg"/>
  <div class="col-xs-12 col-sm-6 about-text" [@slideUpFadeIn]="" *ngIf="animateText">

    <h1>About me</h1>

    <div class="about-text-wrapper">
      <p>In 2016, I decided to abandon my current career as electrical engineer and to focus on professional websites
        programming. It was a difficult decision for me, but I knew that first of all you had to be satisfied from your work.</p>
      <p>In retrospect, I am very pleased with the decision. Being a web programmer gives me a lot of pleasure.</p>

    </div>

  </div>

</div>
