@import '../../scss/_mixins.scss';

:host() {
  display: none;
}

agm-map {
  height: 300px;
}

.map-wrapper {
  position: fixed;
  top: 0px;
  left: 0;
  //z-index: -10;
  height: calc(100% - 40px);
  width: 100%;
}

.form-container {
  margin-bottom: 50px;
}
.contact-form-wrapper {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 30px;

  .row {
    margin-bottom: 10px;
  }

  p {
    color: white;
    margin-bottom: 30px;
    font-family: Caveat;
    font-size: 25px;
    user-select: none;
  }

  textarea,
  input {
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    width: 100%;
    max-width: 100%;
    color: white;
    font-size: 16px;
  }
  button.input-submit {
    font-family: Caveat;
    color: white;
    font-size: 25px;
    padding: 5px 15px;
    margin-left: auto;
    float: right;
    border: solid 2px white;
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    @include transition();

    &:hover {
      background-color: white;
      color: black;
    }

    &.disable {
      opacity: 0.5;
      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }
  .form-group {
    position: relative;
  }

  .col-sm-6 {
    label.warning {
      left: 15px;
    }
  }
  label.warning {
    position: absolute;
    bottom: -26px;
    left: 0;
    color: #f02f17;
    font-family: Caveat;
    font-size: 16px;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    @include transition(1s);

    &.show {
      max-width: 300px;
    }
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .form-container {
    max-width: 500px;
  }
  .contact-form-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  :host() {
    padding-bottom: 400px;
  }
}

@media (max-width: 576px) {
  :host() {
    padding-bottom: 80vw;
  }

}
