<div class="row">
  <div class="col-xs-12">
    <div class="map-wrapper">
      <agm-map style="height: 100%" [zoom]="mapSize" [latitude]="offsetX" [longitude]="offsetY"
               [styles]="mapStyles">
        <agm-marker [latitude]="lat" [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 form-container" [@slideUpFadeIn]="" *ngIf="animateText">

    <div class="constact-form">
      <div class="contact-form-wrapper">
        <p>If you have any questions, please don’t hesitate to contact me using the form below…</p>
        <form #formRef="ngForm" novalidate="true" (ngSubmit)="sentEmail(formRef)">
          <div class="row">
            <div class="form-group col-sm-6 col-xs-12">
              <input type="text" class="input-name" placeholder="name" name="name"
                     required
                     minlength="3"
                     #nameRef="ngModel"
                     ngModel>
              <label class="warning" [ngClass]="{'show' : (nameRef.invalid && nameRef.touched)}">
                <span *ngIf="nameRef.errors?.required">you should fill this field.</span>
                <span *ngIf="nameRef.errors?.minlength">it's to short.</span>
              </label>
            </div>
            <div class="form-group col-sm-6 col-xs-12">
              <input type="email" class="input-email" placeholder="email" name="email"
                     required
                     email
                     #emailRef="ngModel"
                     ngModel>
              <label class="warning" [ngClass]="{'show' : (emailRef.invalid && emailRef.touched)}">
                <span *ngIf="emailRef.errors?.required">you should fill this field.</span>
                <span *ngIf="emailRef.errors?.email">it's not proper email.</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <input type="text" class="input-subject" placeholder="subject" name="subject"
                       required
                       minlength="3"
                       #subjectRef="ngModel"
                       ngModel>
                <label class="warning" [ngClass]="{'show' : (subjectRef.invalid && subjectRef.touched)}">
                  <span *ngIf="subjectRef.errors?.required">you should fill this field.</span>
                  <span *ngIf="subjectRef.errors?.minlength">it's to short.</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <textarea class="input-message" rows="3" placeholder="message" name="message"
                          required
                          minlength="8"
                          #messageRef="ngModel"
                          ngModel></textarea>
                <label class="warning" [ngClass]="{'show' : (messageRef.invalid && messageRef.touched)}">
                  <span *ngIf="messageRef.errors?.required">you should fill this field.</span>
                  <span *ngIf="messageRef.errors?.minlength">write something more ;)</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button [ngClass]="{'disable': formRef.invalid}"  class="input-submit" type="submit">send message.</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>

