@import '../../scss/mixins';

:host() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header {
  &.about-page {
    ul {
      li {
        color: white;
      }
    }
  }
}

.android-device {
  background-color: #fff;
}

.header {
  position: relative;
  height: 85px;
}

nav {
  float: right;
  padding: 20px;
  position: relative;
}

.main-logo {
  cursor: pointer;
  position: relative;
  margin-right: 40px;
  app-logo {

  }
  .full-name {
    line-height: 95%;
    letter-spacing: 3px;
    cursor: pointer;
    user-select: none;

    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    .name {
      width: 100px;
      display: block;
      user-select: none;
    }
    .lastname {
      width: 100px;
      display: block;
      user-select: none;
    }
    span {
      white-space: nowrap;
    }
  }
}

ul {
  position: absolute;
  top: calc(100% - 10px);
  left: -10px;
  z-index: -10;
  width: 100%;
  padding: 40px 20px 20px 20px;
  list-style: none;
  user-select: none;

  @for $i from 1 through 4 {
    li:nth-child(#{$i}) {
      transition-delay: .15s * $i;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;

    li {
      opacity: 1;
      visibility: visible;
    }
  }

  li {
    padding-left: 0;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    position: relative;
    width: 100%;
    display: block;
    padding-left: 0;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    &:before {
      content: "";
      display: block;
      background: $theme_gradient;
      width: 100%;
      max-width: 0;
      height: 0;
      position: absolute;
      left: 0;
      top: calc(50% - 4px);
      transition: all 0.3s ease;
      border-radius: 5px;
    }
    &:hover {
      padding-left: 25px;
      transition-delay: 0s;
      &:before {
        max-width: 20px;
        height: 3px;
      }
    }
  }
}

app-wave-bockground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &:first-child {
    svg {
      fill: rgba(255, 255, 255, 1) !important;
    }
  }
}

:host() /deep/ app-wave-bockground:first-child {
  svg {
    fill: rgba(255, 255, 255, 1) !important;
  }
}

:host() /deep/ .svg-long-sin-container {
  position: relative;
  margin-right: 8px;
  height: 22px !important;
  width: 70px !important;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {

  .main-logo {
    margin-right: 0;
    .full-name {
      display: none;
      .name {

      }
      .lastname {

      }
      span {

      }
    }
  }

  ul {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 5px;
    width: calc(100% - 160px);

    &.active li {
      display: table-cell;
      width: 25%;
      padding: 10px 6px !important;
      color: black !important;
      opacity: 0.6;
      @include transition();
      &:before {
        display: none;
      }
      &:hover,
      &.active {
        opacity: 1;
      }
    }
  }
}


