:host() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #ffffff;
}

.container {
  height: 100%;
  .row {
    height: 100%;
    .col-xs-12 {
      height: 100%;
      border-left: 1px solid #f3f3f3;
      border-right: 1px solid #f3f3f3;
    }
  }
}
