<div class="row">
  <div class="col-xs-12">

    <ngx-slick class="carousel carousel-skills" #slickModal="slick-modal" [config]="slideConfig"
               (beforeChange)="beforeChange($event)"
               (afterChange)="afterChange($event)">
      <div ngxSlickItem *ngFor="let skill of skills" class="slide">
        <div class="slide-wrapper">
          <img src="../../assets/imgs/skills/{{skill.img}}" alt="">
          <div class="slick-filter"></div>
        </div>
      </div>
    </ngx-slick>

  </div>

  <div class="col-xs-12 col-sm-7 skills-text" [@slideUpFadeIn]="" *ngIf="animateText">

    <h1>Skills</h1>

    <div class="about-text-wrapper">
      <p>My first commercial work was at Red Software House, where I was responsible for creating online stores based on
        the PHP framework and websites based on Wordpress. A wide range of work has improved my full-stack developer
        skills, and above all I learned to fluently style and create HTML for a specific design.</p>
      <p>At the beginning of 2017 I started cooperation with the e-commerce market leader - Fast White Cat S.A. There,
        in the position of full-stack developer, I created and administered websites based on the Magento 1 and 2
        framework. Work in such a large company taught me how to work in groups and use GIT tools (Bitbucket and JIRA).
        I met and learned to use a number of the latest technologies such as Docker, NPM, Gulp.</p>
      <p>At present, I feel that the work in the front-end gives me the most satisfaction. I develop my knowledge in the
        field of JavaScript (including ES6), TypeScript and improve my skills in Angular 2+. The current page you see is
        SPA, based on Angular 4.</p>
    </div>
  </div>

</div>



