@import "../../scss/mixins";

.carousel-skills {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-40%);

  .slide {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
  }

  .slide-wrapper {
    position: relative;
  }

  img {
    height: 100%;
    max-height: 60vh;
  }
}

slick-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.skills-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  height: 100%;
}

:host() {
  display: none;
}

:host() /deep/ ngx-slick {
  opacity: 0;
  @include transition(2s);
}

h1 {
  margin-bottom: 30px;
}

p {
  text-align: justify;
  margin-bottom: 15px;
  font-size: 16px;
}
