<div class="body-wrapper" [ngClass]="deviceInfo ? deviceInfo.device + '-device' : ''">
  <app-background></app-background>
  <app-main-nav></app-main-nav>

  <div class="container main-container">
    <div class="row">
      <div class="col-xs-12"
           [@pageChangeAnimation]="getRouteAnimation(route)"
           (@pageChangeAnimation.start)="animationStarted($event)"
           #routerWrapper>
        <router-outlet #route="outlet"></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>

<app-message></app-message>
<app-logo-main [@initAnimation]="showHideMainAnimation" [ngClass]="'state-'+showHideMainAnimation"></app-logo-main>

