@import "../../scss/mixins";

.message-container {
  position: fixed;
  bottom: 50px;
  right: -10px;
  max-width: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid lightgray;
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  @include transition();

  &.show-message {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    right: 15px;
  }
  &.error {
    .message-text {
      color: #f02f17;
    }
  }
}

.message-wrapper {
  position: relative;
  width: 100%;
  padding: 30px;
}

.close-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 5px;
  cursor: pointer;

  i {
    @include transition();
    &:hover {
      color: #f02f17;
    }
  }
}

.message-text {
  font-family: Caveat;
  font-size: 25px;
  line-height: 100%;
}
