<div class="container">
  <div class="container-wrapper">
    <div [ngClass]="{'active': addLetterClass}" class="main-logo">

      <div class="svg-long-sin-container">
        <div class="svg-long-sin-wrapper" [ngClass]="{'transform': moveSin}">
          <svg version="1.1"
             width="100%" height="100%" viewBox="5 -5 402 110"
             class="svg-long-sin"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             xml:space="preserve">
          <style type="text/css">
            .svg-long-sin-path {
              fill: none;
              stroke-width: 10;
              stroke-miterlimit: 10;
            }
          </style>
          <linearGradient id="SVGID_H_" gradientUnits="userSpaceOnUse" x1="1.1302" y1="151.6265" x2="149.1022" y2="151.6265">
            <stop offset="0" style="stop-color:#F79868"></stop>
            <stop offset="0.3826" style="stop-color:#F05357"></stop>
            <stop offset="0.9995" style="stop-color:#F05357"></stop>
          </linearGradient>
          <path #svgLongSin class="svg-long-sin-path" d="M 1 99.91239871888163,2 99.80119949582684,3 99.64518255470593,4 99.44448830023507,5 99.19929734369686,6 98.90983034040224,7 98.57634779111577,8 98.1991498076224,9 97.7785758426472,10 97.31500438437072,11 96.8088526158153,12 96.26057603940842,13 95.67066806706126,14 95.03965957613136,15 94.36811843166878,16 93.65664897537582,17 92.90589148174044,18 92.11652158183227,19 91.2892496552804,20 90.4248201909795,21 89.52401111710023,22 88.5876331010063,23 87.61652881970855,24 86.61157220151256,25 85.57366763954221,26 84.50374917784683,27 83.40277967082454,28 82.27174991671853,29 81.11167776596523,30 79.92360720519783,31 78.70860741772862,32 77.46777182135634,33 76.20221708436381,34 74.91308212059192,35 73.60152706449412,36 72.26873222709355,37 70.91589703378295,38 69.54423894492261,39 68.15499236020841,40 66.74940750779525,41 65.32874931917615,42 63.89429629082932,43 62.44733933365763,44 60.98918061125585,45 59.521132368051354,46 58.04451574837279,47 56.56065960750921,48 55.07089931583009,49 53.57657555704216,50 52.07903312166452,51 50.57961969680792,52 49.07968465334731,53 47.58057783157929,54 46.08364832645676,55 44.59024327349458,56 43.101706636438635,57 41.61937799778909,58 40.144591353266506,59 38.67867391130584,60 37.22294489865844,61 35.778714373176896,62 34.34728204485149,63 32.92993610615895,64 31.527952072776145,65 30.14259163570201,66 28.77510152582087,67 27.42671239192884,68 26.098637693232856,69 24.792072607319426,70 23.50819295457533,71 22.24815414002881,72 21.013090113562843,73 19.80411234943697,74 18.622308846035335,75 17.46874314674163,76 16.344453382821918,77 15.2504513391764,78 14.187721543801473,79 13.157220381780832,80 12.15987523460359,81 11.196583645583416,82 10.268212512130134,83 9.375597305600792,84 8.519541319431454,85 7.700814946227673,86 6.920154984462975,87 6.1782639754099336,88 5.475809570900573,89 4.813423932484731,90 4.191703162527254,91 3.6112067677562223,92 3.0724571557446225,93 2.5759391647787098,94 2.1220996275364428,95 1.7113469689680585,96 1.3440508387413033,97 1.0205417785816593,98 0.7411109248070247,99 0.506009746324807,100 0.3154498183267762,101 0.16960263188572355,102 0.06859943962505355,103 0.012531137600305442,104 0.0014481834987734032,105 0.0353605512311006,106 0.11423772195533388,107 0.2380087115418732,108 0.4065621344543686,109 0.6197463039892313,110 0.877369368783377,111 1.1791994854675139,112 1.5249650273095625,113 1.914354828660322,114 2.347018464981616,115 2.822566568204671,116 3.340571177135118,117 3.9005661225891686,118 4.502047446914489,119 5.14447385751788,120 5.827267213992322,121 6.5498130484041965,122 7.311461118272831,123 8.111525991745111,124 8.949287664437648,125 9.823992207392209,126 10.734852445560975,127 11.681048666210785,128 12.66172935660935,129 13.676011970329348,130 14.722983721480404,131 15.801702406154938,132 16.911197250348152,133 18.050469783588813,134 19.218494737495647,135 20.41422096844953,136 21.63657240355157,137 22.88444900901648,138 24.156727780128563,139 25.452263751869914,140 26.76989102931217,141 28.108423836842654,142 29.466657585282917,143 30.843369955937472,144 32.23732200059787,145 33.647259256512925,146 35.07191287532032,147 36.51000076492419,148 37.960228743292,149 39.42129170313075,150 40.891874786395206,151 42.37065456757199,152 43.8563002446725,153 45.34747483686551,154 46.84283638766941,155 48.34103917262216,156 49.84073491034306,157 51.340573975894664,158 52.8392066153539,159 54.335284160500024,160 55.82746024252468,161 57.31439200367275,162 58.79474130572416,163 60.26717593422773,164 61.73037079740399,165 63.183009118638964,166 64.62378362149349,167 66.05139770616445,168 67.46456661633678,169 68.86201859537722,170 70.24249603082987,171 71.60475658618236,172 72.9475743188845,173 74.26974078361448,174 75.57006611979762,175 76.84738012240055,176 78.10053329503711,177 79.32839788443732,178 80.52986889534893,179 81.7038650849591,180 82.84932993593945,181 83.96523260724071,182 85.05056886177994,183 86.10436197018592,184 87.12566358979007,185 88.11355461807057,186 89.0671460197825,187 89.98557962702989,188 90.86802891155864,189 91.71369972857615,190 92.52183103142823,191 93.29169555648949,192 94.0226004776517,193 94.71388802982044,194 95.3649361008592,195 95.97515879144851,196 96.54400694235568,197 97.07096862864091,198 97.55556962035543,199 97.99737380931631,200 98.39598360157432,201 98.75104027522181,202 99.0622243032181,203 99.32925564094228,204 99.5518939782145,205 99.72993895555881,206 99.86323034451328,207 99.9516481918248,208 99.99511292739876,209 99.99358543590695,210 99.9470670919886,211 99.85559975901336,212 99.71926575140702,213 99.53818776057417,214 99.31252874448418,215 99.04249178101998,216 98.72831988522175,217 98.37029579058975,218 97.9687416946432,219 97.52401896896444,220 97.03652783398866,221 96.50670699883264,222 95.93503326648624,223 95.32202110472173,224 94.66822218310759,225 93.97422487654325,226 93.24065373576113,227 92.46816892527336,228 91.6574656292683,229 90.80927342599142,230 89.9243556311745,231 89.00350861110272,232 88.04756106593871,233 87.05737328394875,234 86.03383636730089,235 84.9778714301334,236 83.89042876961433,237 82.77248701073793,238 81.62505222562831,239 80.44915702814268,240 79.24585964458817,241 78.01624296138974,242 76.7614135505658,243 75.48250067388753,244 74.18065526662,245 72.85704890175779,246 71.51287273568843,247 70.14933643623239,248 68.76766709402314,249 67.36910811820871,250 65.9549181174676,251 64.52636976734544,252 63.08474866493313,253 61.631352171916504,254 60.16748824703778,255 58.694474269021676,256 57.213635851022865,257 55.72630564766386,258 54.23382215573607,259 52.737528509642544,260 51.23877127266789,261 49.73889922516247,262 48.23926215073063,263 46.7412096215168,264 45.24608978368195,265 43.75524814416247,266 42.27002635980505,267 40.79176102996633,268 39.32178249366315,269 37.86141363235753,270 36.411968679452876,271 34.97475203757212,272 33.55105710468364,273 32.142165110130705,274 30.74934396161095,275 29.373847104145366,276 28.016912392062576,277 26.679760975012957,278 25.36359619901699,279 24.069602523534538,280 22.79894445553151,281 21.552765501502407,282 20.332187138391234,283 19.13830780433814,284 17.972201910159477,285 16.834918872450167,286 15.727482169179765,287 14.650888418631602,288 13.60610648251317,289 12.594076594046413,290 11.615709511820938,291 10.67188570017288,292 9.763454536826643,293 8.89123354851192,294 8.056007675245006,295 7.258528563935862,296 6.499513891956404,297 5.77964672127942,298 5.099574883769023,299 4.4599103981754595,300 3.861228919359675,301 3.304069220242873,302 2.788932706947058,303 2.3162829675635734,304 1.8865453549549471,305 1.5001066039660742,306 1.157314483389058,307 0.8584774829946227,308 0.6038645359122228,309 0.393704776608395,310 0.22818733468113805,311 0.1074611646560939,312 0.031634911937523214,313 0.0007768150347544633,314 0.014914644152128176,315 0.07403567619772389,316 0.17808670623325185,317 0.32697409535490607,318 0.5205638549620772,319 0.7586817673380466,320 1.0411135424341325,321 1.367605010716325,322 1.7378623519007235,323 2.151552359371813,324 2.608302740046149,325 3.1077024494108727,326 3.649302061435968,327 4.2326141730275495,328 4.857113842657505,329 5.522239062775668,330 6.227391265578575,331 6.971935861679967,332 7.75520281119865,333 8.57648722674903,334 9.435050007792064,335 10.330118505776092,336 11.260887219468316,337 12.22651851985129,338 13.22614340393288,339 14.258862276790147,340 15.323745761143819,341 16.41983553373558,342 17.546145187753808,343 18.70166112053358,344 19.885343445730445,345 21.096126929147747,346 22.332921947375905,347 23.594615468379764,348 24.880072053152013,349 26.18813487753216,350 27.517626773269928,351 28.867351287397007,352 30.23609375895443,353 31.62262241210523,354 33.025689464649275,355 34.444032250943636,356 35.876374358215735,357 37.32142677524931,358 38.77788905240723,359 40.244450471948134,360 41.719791227584444,361 43.20258361221869,362 44.69149321279001,363 46.185180111156356,364 47.68230008993014,365 49.181505842182844,366 50.681448183930975,367 52.180777268309846,368 53.678143800345296,369 55.17220025122778,370 56.66160207099711,371 58.1450088985472,372 59.621085767860286,373 61.08850430938602,374 62.54594394548489,375 63.99209307885872,376 65.42565027289945,377 66.84532542289472,378 68.24984091703483,379 69.63793278617683,380 71.00835184133204,381 72.35986479785119,382 73.69125538529786,383 75.00132544200962,384 76.28889599336233,385 77.55280831276825,386 78.79192496445152,387 80.00513082706335,388 81.1913340972164,389 82.3494672720339,390 83.47848810983005,391 84.57738056805756,392 85.64515571767694,393 86.68085263312622,394 87.68353925708905,395 88.65231323928302,396 89.5863027485145,397 90.48466725726766,398 91.34659829812227,399 92.17132019132023,400 92.9580907428248,401 93.7062019122449,402 94.41498045002409,403 95.08378850331954,404 95.71202419002643,405 96.29912214043136,406 96.84455400600687,407 97.34782893488952,408 97.80849401361337,409 98.22613467470147,410 98.60037506974878,411 98.93087840766023,412 99.21734725773999,413 99.45952381735906,414 99.65719014396021,415 99.81016835119158,416 99.91832076899237,417 99.98155006748664,418 99.9997993445736,419 99.97305217713563,420 99.90133263581808"
                style="stroke: url(&quot;#SVGID_H_&quot;);">
          </path>
          </svg>
        </div>
      </div>

      <div class="full-name">
        <div class="name">
          <span>a</span>
          <span>r</span>
          <span>c</span>
          <span>i</span>
          <span>n</span>
        </div>
        <div class="lastname">
          <span>i</span>
          <span>r</span>
          <span>e</span>
          <span>c</span>
          <span>k</span>
          <span>i</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
