.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-wrapper {
  max-width: 500px;
  width: 100%;
}

.main-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  .svg-long-sin-container {
    opacity: 0;
    trabsition: all 0.3s ease;
  }
  .full-name {
    width: 60%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    div {
      font-size: 40px;
      display: block;
      line-height: 90%;
      letter-spacing: 5px;

      @for $i from 1 through 6 {
        span:nth-child(#{$i}) {
          transition-delay: 0.5s + (.15s * $i);
        }
      }
      span {
        opacity: 0;
        transform: translateX(40px);
        transition: all 1s ease;
        display: inline-block;
        // font-size: 30px;
      }
    }
  }
  &.active {
    .svg-long-sin-container {
      opacity: 1;
    }
    .full-name {
      div {
        span {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.svg-long-sin-container {
  position: relative;
  height: 110px;
  width: 40%;
  float: left;
}

.svg-long-sin-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

svg {
  overflow: visible;
  height: 100%;
}

@media (max-width: 576px) {

  .main-logo {
    .full-name {
      div {
        line-height: 54%;
        span {
          letter-spacing: 3px;
          font-size: 26px;
        }
      }
    }
  }

}

:host() {
 &.state-hide {
  .container {
    left: 100%;
  }
 }
}
