@import '../../scss/mixins';

section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: calc(100vh - 400px);
  user-select: none;

  .blog-text {
    width: 40%;
    position: relative;
    z-index: 1;
    h3.blogExtraText,
    h3.blogPageText {
      font-family: Caveat;
      font-size: 30px;
      transition: all 0.6s ease;
    }
  }

  .blog-image {
    width: 60%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
      transform: scale(1.5) translate(50px, 10px);
      clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%);
      transition: all 1s ease;
      margin-left: 0;
    }
  }
  button {
    margin-top: 50px;
    opacity: 0;
    margin-bottom: 50px;
    @include transition(1s);
    &.show {
      opacity: 1;
    }
  }
}

.blog-mobile-image {
  display: none;
}

:host() {
  display: none;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  section {
    height: auto;
    .blog-text {
      width: 100%;
    }
    .blog-image {
     display: none
    }
  }
  .blog-mobile-image {
    display: inline;
    float: right;
    width: 350px;
    height: 350px;
    margin-right: -140px;
    margin-top: 60px;
    object-fit: contain;
    object-position: left;
    transform: scale(1);
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%);
    shape-outside: polygon(182px 40px, 210px 0px, 210px 410px, 0px 410px);
    transition: all 1s ease;
    margin-left: 0;
  }
}





