.fade-in-animation {
   > label > span {
    opacity: 0;
    transform: translateX(40px);
    transition: all 1s ease;
    display: inline-block;
    white-space: pre;
  }

  &.animate {
    > label > span {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
