@import 'variables';

@mixin transition($what: all, $time: 0.3s, $how: ease) {
  transition: $what $time $how;
}

@mixin fontshape($background: $theme_gradient) {
  color: black;
  transition: all 0.6s ease;
  background: $background;
  background-size: 120%;
  background-position: center center;
  background-repeat: repeat;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  &.hovered,
  &:hover {
    color: transparent;
  }
}
