$theme_gradient: linear-gradient(45deg, rgba(246,145,102,1) 0%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(240,82,87,1) 100%);
$special_gradient: linear-gradient(-45deg, #9666f6 0%, #f02f17 71%, #f05257 100%);

$light_gray: #f3f3f3;
