//*************************************************
//            Imports
//*************************************************
@import "font_mixin";
@import "variables";
@import "mixins";
@import "slick/slick";
@import "animations";

//*************************************************
//            Fonts
//*************************************************

@include font-face('CircularStd', './assets/fonts/CircularSTD/CircularStd-Black', 700, bold, otf);
@include font-face('CircularStd', './assets/fonts/CircularSTD/CircularStd-Bold', 600, normal, otf);
@include font-face('CircularStd', './assets/fonts/CircularSTD/CircularStd-Medium', 500, light, otf);
@include font-face('CircularStd', './assets/fonts/CircularSTD/CircularStd-Book', 400, thin, otf);

@include font-face('Caveat', './assets/fonts/Caveat/Caveat-Regular', 500, normal, ttf);
@include font-face('Caveat', './assets/fonts/Caveat/Caveat-Bold', 600, normal, ttf);

//*************************************************
//            Base Styles
//*************************************************

body {
  font-family: CircularStd;

  *:focus {
    outline: none;
  }
}

a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.body-wrapper {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  .main-container {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 40px;
  }

  &.android-device {
    .main-container {
      padding-top: 62px;
    }
  }
}

.main-content {
  min-height: 100%;
  width: 100%;
}

button.btn {
  border: none;
  padding: 8px 20px 4px 20px;
  position: relative;
  margin-bottom: 30px;
  @include transition();
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    transform: translate(-50%, -50%);
    background: $theme_gradient;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: white;
    @include transition();
  }
  &:hover {
    &:after {
      background: transparent;
    }
    span {
      color: white;
    }
  }
  span {
    background: $theme_gradient;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
    position: relative;
    z-index: 1;
    line-height: 100%;
    margin-bottom: -2px;
    @include transition();
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a.underlined {
  color: black;
  text-decoration: none;
  position: relative;
  line-height: 100%;
  &:after {
    content: "";
    display: block;
    max-width: 0;
    height: 2px;
    background: $theme_gradient;
    width: 100%;
    position: absolute;
    @include transition(1s);
    bottom: 0;
    left: 0;
  }
  &:hover {
    color: black;
    &:after {
      max-width: 100%;
    }
  }
}

label {
  margin-bottom: 0;
  font-weight: normal;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {

}
