@import '../../scss/mixins';

section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: calc(100vh - 200px);
  user-select: none;

  .hello-text {
    width: 50%;
    position: relative;
    z-index: 1;
    h2.homePageTitle {
      font-family: Caveat;
      font-size: 80px;
      margin-bottom: 60px;
      transition: all 0.6s ease;
    }
    h3.homeExtraText,
    h3.homePageText {
      font-family: Caveat;
      font-size: 30px;
      transition: all 0.6s ease;
    }
  }

  .hello-image {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: scale(2.5) translate(50px, 10px);
      clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%, 0% 100%, 100% 100%, 50% 0%);
      transition: all 1s ease;
      margin-left: -75%;
    }
    &.animate {
      img {
        margin-left: 0%;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
      }
    }
  }
  button {
    margin-top: 50px;
    opacity: 0;
    @include transition(1s);
    &.show {
      opacity: 1;
    }
  }
}

:host() {
  display: none;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  section {
    height: auto;
    .hello-text {
      h2.homePageTitle {
        width: calc(100vw - 30px);
      }
      h3.homeExtraText,
      h3.homePageText {
      }
    }

    .hello-image {
      img {
        margin-top: 35px;
      }
      &.animate {
        img {
         }
      }
    }
    button {
      &.show {
      }
    }
  }

}





