@import '../../scss/mixins';

.wrapper {
  transition: margin 1s ease;
}

.nav-slide {
  margin: 0 0 30px;
  width: 100%;
  .slick-slide {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        span {
          @include fontshape(url('../../assets/imgs/backgrounds/' + $i + 's.jpg'));
        }
      }
    }
    h2 {
      overflow: hidden;
      font-weight: bold;
      font-size: 180px;
      margin: 0;
      margin-right: 5vw;
      padding: 0;
      cursor: pointer;
      span {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        transition: color 0.6s ease-in-out;
        &:after {
          content: "";
          display: block;
          width: 100%;
          max-width: 0;
          transition: all 0.3s ease;
          position: absolute;
          bottom: 0%;
          left: 0;
          height: 5%;
          background: $theme_gradient;
        }
      }
    }
    &.slick-active {
      h2 {
        span {
          color: transparent;
          &:after {
            max-width: 100%;
            transition-delay: 0.6s;
          }
        }
      }
    }
  }

}

article {
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
  .text {
    margin-bottom: 30px;
  }
  .button-wrapper {
    button {
      margin-left: auto;
      display: table;
    }
  }
}

:host() {
  display: none;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .wrapper {
    margin-top: 30px !important;
  }

  .slick-arrow {
    font-size: 30px;
    margin: 20px 0;
  }

  .nav-slide {
    .slick-slide {
      h2 {
        font-size: 20vw;
      }
    }
  }
}
