@import '../../scss/mixins';

section.home-big-nav {
  position: relative;
  display: flex;
  height: calc(100% - 80px);
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 10px 0;
}

:host() {
  display: none;
}
